.page-container {
    position: absolute;
    top: 48px;
    left: 0;
    height: calc(100vh - 48px);
    width: 100vw;
}

.hero-image {
    max-height: 320px;
    margin-bottom: 3em;
}

.play {
    background-image: url("/static/audio.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
}

.bordered {
  border: 2px solid black;
  padding: 2px;
}

.center {
  text-align: center;
}

.practice-answer {
  display: none;
  text-align: center;
  width: 130px;
  height: 39px;
}

.quiz-word{
  display: block;
  padding-top: 20px;
  padding-bottom: 80px;
  font-size: 150px;
}

.client-info{
  display: block;
  height: 40px;
  padding-top: 20px;
  font-size: 40px;
}

.quiz-btn{
  display: block;
  text-align: center;
  width: 100%;
}

.green{
  color: green;
}

.red{
  color: red;
}
