.page-container {
    position: absolute;
    top: 48px;
    left: 0;
    height: calc(100vh - 48px);
    width: 100vw;
}

.hero-image {
    max-height: 320px;
    margin-bottom: 3em;
}

.center {
  text-align: center;
}
