{% extends "layout.html" %}

{% block content %}
<div class="page-container d-flex justify-content-center align-items-center text-center">
    <div>
		<h1>Want to know how to tell similar vowels apart?</h1>
	<img class="hero-image" src="/static/img/ipa-1.png" alt="IPA vowel chart"/>
	<h5 class="text-secondary mb-5">Learn how vowel sounds are represented in <b>IPA vowel chart</b> (shown above, IPA stands for International Phonetic Alphabet),<br/> and test whether you can tell some commonly confused words apart! </h5>
	<a class="btn btn-primary btn-lg" href="/learn/1">Start learning</a>
    </div>
</div>

{% endblock %}
