{% extends "layout.html" %}


{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>
{% endblock %}


{% block content %}

{% set ns = namespace(audioID=1) %}  

<!-- PROGRESS BAR -->

<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{progress}}%;" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">Learning module {{step}}/{{total}}</div>
</div>

<!-- LESSON CONTENT -->

<div class="mt-5 mb-3">
    <h3>{{data["text"] | safe}}</h3>

    <!-- explanation text for vowel pairs -->
    {% if data["explanation"] is defined %}
    <div class="row d-flex justify-content-center">
	{% if data["explanation"][0]["vowel"] is defined %}
	{% for expl in data["explanation"] %}
        <div class="vowel-display col-md-4 text-center">
            <div class="vowel-card">{{expl["vowel"] | safe}}</div>
            <div><audio id="audio-{{ns.audioID}}" src='{{expl["audio"]}}'>
                Your browser does not support the
                <code>audio</code> element.
            </audio>
            <div>
                <span class="play" data-id="audio-{{ns.audioID}}"></span>
                {{expl["text"] | safe}}
            </div>
            {% set ns.audioID = ns.audioID + 1 %}</div>
        </div>
	{% endfor %}
        {% else %}
        <div>
	    <table border="1" class="expl-table">
		<tr>
		    <th>Audio</th>
		    <th>Symbol</th>
		    <th>Description</th>
		    <th>Example</th>
		</tr>
		{% for expl in data["explanation"] %}
		<tr>
		    <td>
			<audio id="audio-{{ns.audioID}}" src='{{expl["audio"]}}'>
			    Your browser does not support the
			    <code>audio</code> element.
			</audio>
			<span class="play" data-id="audio-{{ns.audioID}}"></span>
			{% set ns.audioID = ns.audioID + 1 %}
		    </td>
		    <td>
			{{expl["symbol"] | safe}}
		    </td>
		    <td>
			{{expl["description"] | safe}}
		    </td>
		    <td>
			{{expl["example"] | safe}}
		    </td>
		</tr>
		{% endfor %}
	    </table>
        </div>
        {% endif %}
    </div>
    {% endif %}

    <!-- action text -->
    {% if data["actionText"] is defined %}
    <h3 class="mt-5">{{data["actionText"] | safe}}</h3>
    {% endif %}

    <!-- image -->

    {% if data["image"] is defined %}
    <div class="d-flex justify-content-center mt-4">
	<img class="hero-image" src='{{data["image"]}}' alt="IPA vowel chart"/>
    </div>
    {% endif %}
    
    <!-- practice -->
    {% if data["practice"] is defined %}
    <div class="d-flex justify-content-center mt-4">
	<table border="1">
	    {% for row in data["practice"] %}
	    <tr>
		<td class="h3 px-4 py-3">
		    <div>
			<audio id="audio-{{row['id']}}" src='{{row["word-audio"]}}'>
			    Your browser does not support the
			    <code>audio</code> element.
			</audio>
			<span class="play" data-id="audio-{{row['id']}}"></span>
			{{row["english"] | safe}}
		    </div>
		</td>
		<td class="text-center h3 px-4 py-3">
		    <btn class="practice-spoiler btn btn-secondary" id="{{ns.audioID}}">Reveal answer</btn>
		    <div class="practice-answer" id="practice-answer-{{ns.audioID}}">
			{{row["vowel"] | safe}}
			<!--
			     <audio id="audio-{{ns.audioID}}" src='{{row["audio"]}}'>
			     Your browser does not support the
			     <code>audio</code> element.
			     </audio>
			     <span class="play" data-id="audio-{{ns.audioID}}"></span>
			     {% set ns.audioID = ns.audioID + 1 %}
			-->
		    </div>
		</td>
	    </tr>
	    {% endfor %}
	</table>
    </div>
    {% endif %}
</div>

<!-- BACK/NEXT BUTTONS -->

<nav class="navbar fixed-bottom bg-light d-flex justify-content-between">
    {% if step|int == 1 %}
    <span></span>
    {% else %}
    <a class="btn btn-primary btn-lg" href="/learn/{{step - 1}}">Back</a>
    {% endif %}
    {% if step|int == total %}
    <a class="btn btn-primary btn-lg" href="/quiz">Next</a>
    {% else %}
    <a class="btn btn-primary btn-lg" href="/learn/{{step + 1}}">Next</a>
    {% endif %}
</nav>

{% endblock %}
