{% extends "layout.html" %}

{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>
<script>
    var id = {{ data["id"] | safe}}
    var data = {{ data | safe}}
    var quiz_answer = {{ answer | safe}}
</script>
{% endblock %}

{% block content %}

<!-- PROGRESS BAR -->

<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{progress}}%;" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">Quesion {{step}}/{{total}}</div>
</div>

<!-- QUIZ CONTENT -->

{% if data["type"] == "1" %}
<div class="mt-5 mb-3">
    <h3 class="center">{{ "What is the correct vowel?" | safe}}</h3>
    <h2 class="center client-info" id="client-info"></h2>
    <h1 class="center quiz-word">{{ data["word"] | safe}}</h1>
    <audio id="player_q" src={{data["audio_word"] | safe}}></audio>
    <button class="quiz_qplayer play_button" onclick="document.getElementById('player_q').play()"></button>


    {% if data["questions_number"] == "2" %}
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-primary btn-lg quiz-btn" id="quiz-button-a">{{ data["choice_a"] | safe}}</button>
        <audio id="player_1" src={{data["audio_a"] | safe}}></audio>
        <div>
          <button class="quiz_player" id="choice2a" onclick="document.getElementById('player_1').play()"></button>
        </div>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-primary btn-lg quiz-btn" id="quiz-button-b">{{ data["choice_b"] | safe}}</button>
        <audio id="player_2" src={{data["audio_b"] | safe}}></audio>
        <div>
          <button class="quiz_player" id="choice2b" onclick="document.getElementById('player_2').play()"></button>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
    {% endif %}

    {% if data["questions_number"] == "3" %}
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-primary btn-lg quiz-btn" id="quiz-button-a">{{ data["choice_a"] | safe}}</button>
        <audio id="player_1" src={{data["audio_a"] | safe}}></audio>
        <div>
          <button class="quiz_player" id="choice3a" onclick="document.getElementById('player_1').play()"></button>
        </div>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-primary btn-lg quiz-btn" id="quiz-button-b">{{ data["choice_b"] | safe}}</button>
        <audio id="player_2" src={{data["audio_b"] | safe}}></audio>
        <div>
          <button class="quiz_player" id="choice3b" onclick="document.getElementById('player_2').play()"></button>
        </div>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-primary btn-lg quiz-btn" id="quiz-button-c">{{ data["choice_c"] | safe}}</button>
        <audio id="player_3" src={{data["audio_c"] | safe}}></audio>
        <div>
          <button class="quiz_player" id="choice3c" onclick="document.getElementById('player_3').play()"></button>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
    {% endif %}
</div>
{% endif %}

<!-- drag and drop question -->
{% if data["type"] == "2" %}
<div class="mt-5 mb-3">
    <h3 class="center">{{ "Drag and drop the letter to its corresponding IPA vowel." | safe}}</h3>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
        <h2 class="center quiz_2_padding client-info" id="client-info"></h2>
        <h1 class="center quiz-word_2">{{ data["word"] | safe}}</h1>
        </div>
        <div class="col-md-2">
        </div>
      </div>

      {% if data["questions_number"] == "3" %}
      <div class="row">
        <div class="col-md-2">
          <audio id="player_q" src={{data["audio_word"] | safe}}></audio>
          <div>
            <button class="quiz_qplayer" onclick="document.getElementById('player_q').play()"></button>
          </div>
        </div>
        <div class="col-md-2">
          <div class="btn btn-primary btn-lg quiz-btn" id="question_one">{{ data["question_one"] | safe}}</div>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-2">
          <div class="btn btn-primary btn-lg quiz-btn" id="question_two">{{ data["question_two"] | safe}}</div>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-2">
          <div class="btn btn-primary btn-lg quiz-btn" id="question_three">{{ data["question_three"] | safe}}</div>
        </div>
        <div class="col-md-2">
        </div>
      </div>
      {% endif %}

      {% if data["questions_number"] == "2" %}
      <div class="row">
        <div class="col-md-2">
          <audio id="player_q" src={{data["audio_word"] | safe}}></audio>
          <div>
            <button class="quiz_qplayer" onclick="document.getElementById('player_q').play()"></button>
          </div>
        </div>
        <div class="col-md-2">
          <div class="btn btn-primary btn-lg quiz-btn" id="question_one">{{ data["question_one"] | safe}}</div>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-2">
          <div class="btn btn-primary btn-lg quiz-btn" id="question_two">{{ data["question_two"] | safe}}</div>
        </div>
        <div class="col-md-2">
        </div>
      </div>
      {% endif %}
    </div>

    <div class="col-md-6 quiz_2_padding">
      <div class="row quiz_2_padding">
        <div class="col-md-1">
        </div>
        <div class="col-md-4">
          <div class="btn btn-default btn-lg quiz-btn" id="quiz-button-a">{{ data["choice_a"] | safe}}</div>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
          <div class="btn btn-default btn-lg quiz-btn" id="quiz-button-b">{{ data["choice_b"] | safe}}</div>
        </div>
        <div class="col-md-1">
        </div>
      </div>

      <div class="row quiz_2_padding">
        <div class="col-md-1">
        </div>
        <div class="col-md-4">
          <div class="btn btn-default btn-lg quiz-btn" id="quiz-button-c">{{ data["choice_c"] | safe}}</div>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
          <div class="btn btn-default btn-lg quiz-btn" id="quiz-button-d">{{ data["choice_d"] | safe}}</div>
        </div>
        <div class="col-md-1">
        </div>
      </div>

      <div class="row quiz_2_padding">
        <div class="col-md-1">
        </div>
        <div class="col-md-4">
          <div class="btn btn-default btn-lg quiz-btn" id="quiz-button-e">{{ data["choice_e"] | safe}}</div>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
          <div class="btn btn-default btn-lg quiz-btn" id="quiz-button-f">{{ data["choice_f"] | safe}}</div>
        </div>
        <div class="col-md-1">
        </div>
      </div>

    </div>
  </div>
</div>
{% endif %}

<!-- BACK/NEXT BUTTONS -->

<nav class="navbar fixed-bottom bg-light d-flex justify-content-between">
    <span></span>
    {% if step|int == total %}
    <button class="btn btn-primary btn-lg" id="next-button" onclick="location.href='/quiz-end'">Next</button>
    {% else %}
    <button class="btn btn-primary btn-lg" id="next-button" onclick="location.href='/quiz/{{step + 1}}'">Next</button>
    {% endif %}
</nav>

{% endblock %}
