{% extends 'layout.html' %}


{% block head %}

{{ super() }}

<script>

</script>

<style>
    .title {
        display: block;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 40px;
    }

    .summary {
        display: block;
        text-align: center;
        font-size: 20px;
    }

</style>

{% endblock head %}


{% block content %}

{{ super() }}

<div class="row">
    <div class="col-md-12 title">
        Test your knowledge!
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-10 summary">
        <br>
        Find out how much you know about commonly confused vowels.
        <br>
        <a class="btn btn-primary" id="learning-btn" href="/learn/0" role="button">Start Quiz</a>
    </div>

</div>

{% endblock content %}
