{% extends "layout.html" %}

{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>
<script>
    var id = {{ data["id"] | safe}}
    var quiz_answer = {{ answer["correct"] | safe}}
</script>
{% endblock %}

{% block content %}

<!-- PROGRESS BAR -->

<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{progress}}%;" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">Quesion {{step}}/{{total}}</div>
</div>

<!-- QUIZ CONTENT -->

<div class="mt-5 mb-3">
    <h3 class="center">{{ "What is the correct vowel?" | safe}}</h3>
    <h1 class="center quiz-word">{{ data["word"] | safe}}</h1>

    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-primary btn-lg quiz-btn" id="quiz-button-a">{{ data["choice_a"] | safe}}</button>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-primary btn-lg quiz-btn" id="quiz-button-b">{{ data["choice_b"] | safe}}</button>
      </div>
      <div class="col-md-2">
      </div>
    </div>
</div>

<!-- BACK/NEXT BUTTONS -->

<nav class="navbar fixed-bottom bg-light d-flex justify-content-between">
    {% if step|int == 1 %}
    <span></span>
    {% else %}
    <a class="btn btn-primary btn-lg" href="/quiz/{{step - 1}}">Back</a>
    {% endif %}
    {% if step|int == total %}
    <a class="btn btn-primary btn-lg" href="/quiz-end">Next</a>
    {% else %}
    <a class="btn btn-primary btn-lg" href="/quiz/{{step + 1}}">Next</a>
    {% endif %}
</nav>

{% endblock %}
